<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% for setlist in setlists %}
        {{ setlist }} by {{ setlist.author }}, id is {{ setlist.author.id }}
        logged in id is {{ user.id }}
        {% for song in setlist.song.all %}
            {{ song.title }}
        {% endfor %}
        {% if user.id == setlist.author.id  %}
            <button type="button">Edit!</button>
            <button type="button">Delete</button>
        {% endif %}
    {% endfor %} -->

    <p>ADD A SETLIST</p>
    <form action="add" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit Setlist</button>
    </form>
</body>
</html>